.main{
    margin-left: 300px;
    margin-right: 300px;
    background-color:white;
    padding: 30px;
}
#name{
    color:blue;
    font-weight:bold;
    font-size:25px;
}
.star{
    color:red;
}
.top{
    font-size: 19px;
}
#first{
    height:30px;
    margin-top: 8px;
    width:315px;
    border:1px solid blue;
    border-radius: 4px;
}
#last{
    height:30px;
    margin-top: 8px;
    width:315px;
    margin-left: 15px;
    border:1px solid blue;
    border-radius: 4px;
}
.email{
    font-size: 21px;
}
#mail{
    width:315px;
    height: 30px;
    border:1px solid blue;
    border-radius: 4px;
}
#call{
    width:315px;
    height: 30px;
    margin-left: 15px;
    border:1px solid blue;
    border-radius: 4px;
}
#phn{
    padding-left: 282px;
    font-size: 21px;
}
#add{
    font-size: 22px;
}
#add1{
    width:650px;
    height:30px;
    margin-top: 5px;
    border:1px solid blue;
    border-radius: 4px;
}
#city{
    height: 30px;
    width:315px;
    margin-top: 5px;
    border:1px solid blue;
    border-radius: 4px;
}
#state{
    height: 30px;
    width:315px;
    margin-top: 5px;
    margin-left: 15px;
    border:1px solid blue;
    border-radius: 4px;
}
#edu{
    font-size: 28px;
}
#highq{
    font-size: 20px;
}
.spandiv{
    margin-top: 5px;
}
.edut{
    height: 30px;
    width:645px;
    margin-top: 5px;
    border:1px solid blue;
    border-radius: 4px;
}
textarea{
    border:1px solid blue;
    border-radius: 4px;
    margin-top: 5px;
}
#btndiv{
    text-align: center;
}
button{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color:#2F90EB  ;
    border-radius: 4px;
    border: none;
}
img{
    height:30px;
    width:30px;
}
#bt{
    display:flex;
}
#s{
    margin-top: 8px;
    color: white;
}